body {
  margin: 20px;
  background-image: url(l.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@font-face {
  font-family: 'ttt';
  src: url(Neo\ Retro\ 2024.ttf);
}
@font-face {
  font-family: 'tuta';
  src: url(Game-Font.ttf);
}
#lap{
  background-image: url(lap.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90%;
  height: 90%;
  display: block;
  margin-left: 7.25%;
  margin-right: auto;
  top:6.5%;
}
#tt{
  height: 15%;
  width: 90%;
  font-size: 44px;
  text-align: center;
  padding-top: 6%;
  margin-bottom: 10px;
  font-family: 'ttt';
            background: linear-gradient(to right, #d69d00,#FF0054,#390099,
            #FF5400,#FF0054,#651ede, #d69d00,#390099);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}
#score{
  position: absolute;
  width: 11%;
  height: 7%;
  display: block;
  top:14%;
  left:39%;
  background-color: #9E0059;
  font-size: 28px;
  text-align: center;
  color:#ffffffed;
  font-family: 'ttt';
  padding-top: 0.5%;
  box-shadow:  0 0 5px  yellow; 
  border-color: aliceblue;
  border-width: 5px;
  border-radius: 30px;
  border-style: inset;
}

#round{
  position: absolute;
  width: 10.5%;
  height: 7%;
  display: block;
  top:14%;
  left:51%;
  background-color: #9E0059;
  font-size: 28px;
  text-align: center;
  color:#ffffffed;
  font-family: 'ttt';
  padding-top: 0.5%;
  box-shadow:  0 0 5px  yellow; 
  border-color: aliceblue;
  border-width: 5px;
  border-radius: 30px;
  border-style: inset;
}
#restart{
  position: absolute;
  width: 10.5%;
  height: 7%;
  display: block;
  top:14%;
  left:62.5%;
  background-color: #232629;
  font-size: 28px;
  text-align: center;
  color:#d69d00;
  font-family: 'ttt';
  padding-top: 0.5%;
  box-shadow:  0 0 5px  yellow; 
  border-color: aliceblue;
  border-width: 5px;
  border-radius: 30px;
  border-style: inset;
  cursor: pointer;
}
svg {
  width: 65%;
  height:65%;
  position: absolute;
  top: 8%;
  left: 20%;
}
#lol{
  position: absolute;
  top: 40%;
  left: 34.7%;
  width:30%;
  font-size: 200%;
  font-family: 'ttt';
  color:white;
  opacity: 0.7;
  letter-spacing: 1.3px;
  text-align: center;
}
#target{
  width:100px;
  height:100px;
}
#warning{
  background-image: url(w2.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30%;
  height: 45%;
  margin-left: 33.5%;
  margin-right: auto;
  top:22%;
  display: none;
}
#wmsg{
  display: none;
  width: 25%;
  height: 38%;
  font-size: 130%;
  line-height: 1.4;
  letter-spacing: 1.4px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'ttt';
  position: absolute;
  margin-left: 36%;
  margin-right: auto;
  top:42%;
}
#war{
  display: none;
  background-image: url(war.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20%;
  height: 20%;
  margin-left: 30%;
  margin-right: auto;
  top:16.5%;
  rotate: -12deg;
}
#arg{
  display: none;
}
.play {
  width: 130px;
  height: 52px;
  font-size: 25px;
  font-family: 'ttt';
  text-align: center;
  border: none;
  outline: none;
  color: #d67600;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.play:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -3px;
  left: -3px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing-play 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-play {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.play:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.play:active {
  transform: translateY(4px);
}
.playmenu {
  top: 15%;
  left:36.5%;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 27%;
  height: 60%;
  position: absolute;
  align-items: center;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
#playmsg{
  width: 70%;
  background-color: #2f2f2fdb;
  font-size: 210%;
  line-height: 0.8;
  color:#ffffff;
  text-align: center;
  padding: 5%;
  padding-top:4%;
  padding-bottom:3%;
  margin-bottom: 25px;
  margin-top: 15px;
  font-family: 'tuta';
}
@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  top: 0%;
  left:0%;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 29;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #0008ff;
  top: 64%;
  left: 54%;
  animation-duration: 105s;
  animation-delay: -197s;
  transform-origin: -18vw 0vh;
  box-shadow: -2vmin 0 0.3694648131746856vmin currentColor;
}
.background span:nth-child(1) {
  color: #00ff2a;
  top: 87%;
  left: 92%;
  animation-duration: 83s;
  animation-delay: -137s;
  transform-origin: 23vw 1vh;
  box-shadow: 2vmin 0 0.9234682166764645vmin currentColor;
}
.background span:nth-child(2) {
  color: #5d00ff;
  top: 97%;
  left: 30%;
  animation-duration: 178s;
  animation-delay: -80s;
  transform-origin: -23vw -11vh;
  box-shadow: -2vmin 0 0.3574740129532399vmin currentColor;
}
.background span:nth-child(3) {
  color: #ff0000;
  top: 43%;
  left: 90%;
  animation-duration: 35s;
  animation-delay: -149s;
  transform-origin: -17vw -17vh;
  box-shadow: 2vmin 0 0.362996113943973vmin currentColor;
}
.background span:nth-child(4) {
  color: #00ff2a;
  top: 80%;
  left: 36%;
  animation-duration: 133s;
  animation-delay: -63s;
  transform-origin: 2vw -6vh;
  box-shadow: 2vmin 0 0.8377810054462089vmin currentColor;
}
.background span:nth-child(5) {
  color: #fbff00;
  top: 79%;
  left: 37%;
  animation-duration: 167s;
  animation-delay: -3s;
  transform-origin: 0vw 19vh;
  box-shadow: 2vmin 0 0.41414899235221303vmin currentColor;
}
.background span:nth-child(6) {
  color: #ff0000;
  top: 17%;
  left: 45%;
  animation-duration: 52s;
  animation-delay: -34s;
  transform-origin: 11vw -24vh;
  box-shadow: -2vmin 0 0.7800619838868998vmin currentColor;
}
.background span:nth-child(7) {
  color: #5d00ff;
  top: 44%;
  left: 16%;
  animation-duration: 113s;
  animation-delay: -175s;
  transform-origin: 4vw -16vh;
  box-shadow: -2vmin 0 0.5857466359226551vmin currentColor;
}
.background span:nth-child(8) {
  color: #0008ff;
  top: 91%;
  left: 16%;
  animation-duration: 170s;
  animation-delay: -147s;
  transform-origin: 4vw -3vh;
  box-shadow: -2vmin 0 0.41404352439798986vmin currentColor;
}
.background span:nth-child(9) {
  color: #5d00ff;
  top: 93%;
  left: 33%;
  animation-duration: 215s;
  animation-delay: -24s;
  transform-origin: 15vw -12vh;
  box-shadow: 2vmin 0 1.2339172903315863vmin currentColor;
}
.background span:nth-child(10) {
  color: #00ff2a;
  top: 21%;
  left: 18%;
  animation-duration: 207s;
  animation-delay: -39s;
  transform-origin: 5vw 25vh;
  box-shadow: -2vmin 0 0.31568198900400324vmin currentColor;
}
.background span:nth-child(11) {
  color: #fbff00;
  top: 21%;
  left: 73%;
  animation-duration: 88s;
  animation-delay: -80s;
  transform-origin: -11vw -8vh;
  box-shadow: 2vmin 0 0.28872991889741284vmin currentColor;
}
.background span:nth-child(12) {
  color: #0008ff;
  top: 19%;
  left: 74%;
  animation-duration: 126s;
  animation-delay: -187s;
  transform-origin: -17vw -14vh;
  box-shadow: 2vmin 0 0.8098788990395147vmin currentColor;
}
.background span:nth-child(13) {
  color: #5d00ff;
  top: 28%;
  left: 62%;
  animation-duration: 145s;
  animation-delay: -168s;
  transform-origin: -7vw 13vh;
  box-shadow: -2vmin 0 0.7886602957127333vmin currentColor;
}
.background span:nth-child(14) {
  color: #00ff2a;
  top: 65%;
  left: 62%;
  animation-duration: 146s;
  animation-delay: -198s;
  transform-origin: 3vw 4vh;
  box-shadow: -2vmin 0 0.8450006848008507vmin currentColor;
}
.background span:nth-child(15) {
  color: #0008ff;
  top: 87%;
  left: 31%;
  animation-duration: 132s;
  animation-delay: -95s;
  transform-origin: 17vw 6vh;
  box-shadow: 2vmin 0 0.584084762100382vmin currentColor;
}
.background span:nth-child(16) {
  color: #00ff2a;
  top: 3%;
  left: 61%;
  animation-duration: 67s;
  animation-delay: -198s;
  transform-origin: 4vw -8vh;
  box-shadow: 2vmin 0 1.076910743414844vmin currentColor;
}
.background span:nth-child(17) {
  color: #ff0000;
  top: 31%;
  left: 38%;
  animation-duration: 131s;
  animation-delay: -100s;
  transform-origin: 19vw 18vh;
  box-shadow: -2vmin 0 0.760152545155474vmin currentColor;
}
.background span:nth-child(18) {
  color: #00ff2a;
  top: 74%;
  left: 88%;
  animation-duration: 28s;
  animation-delay: -114s;
  transform-origin: -15vw -1vh;
  box-shadow: -2vmin 0 0.5415783016251712vmin currentColor;
}
.background span:nth-child(19) {
  color: #ff004c;
  top: 5%;
  left: 26%;
  animation-duration: 48s;
  animation-delay: -34s;
  transform-origin: -14vw -19vh;
  box-shadow: 2vmin 0 0.4249818355540884vmin currentColor;
}
.background span:nth-child(20) {
  color: #ff0000;
  top: 54%;
  left: 98%;
  animation-duration: 173s;
  animation-delay: -86s;
  transform-origin: -20vw 1vh;
  box-shadow: 2vmin 0 0.25301618563923456vmin currentColor;
}
.background span:nth-child(21) {
  color: #00ff2a;
  top: 34%;
  left: 76%;
  animation-duration: 151s;
  animation-delay: -53s;
  transform-origin: 3vw 11vh;
  box-shadow: 2vmin 0 0.6424596728338112vmin currentColor;
}
.background span:nth-child(22) {
  color: #fbff00;
  top: 64%;
  left: 47%;
  animation-duration: 182s;
  animation-delay: -206s;
  transform-origin: -14vw 21vh;
  box-shadow: 2vmin 0 1.1363542365924102vmin currentColor;
}
.background span:nth-child(23) {
  color: #0008ff;
  top: 7%;
  left: 42%;
  animation-duration: 164s;
  animation-delay: -19s;
  transform-origin: -18vw 9vh;
  box-shadow: -2vmin 0 1.0213500619821803vmin currentColor;
}
.background span:nth-child(24) {
  color: #0008ff;
  top: 77%;
  left: 25%;
  animation-duration: 91s;
  animation-delay: -81s;
  transform-origin: -16vw 5vh;
  box-shadow: -2vmin 0 1.2249025928398585vmin currentColor;
}
.background span:nth-child(25) {
  color: #5d00ff;
  top: 25%;
  left: 75%;
  animation-duration: 99s;
  animation-delay: -45s;
  transform-origin: 5vw -5vh;
  box-shadow: -2vmin 0 1.0506283342371727vmin currentColor;
}
.background span:nth-child(26) {
  color: #5d00ff;
  top: 25%;
  left: 78%;
  animation-duration: 164s;
  animation-delay: -136s;
  transform-origin: 16vw 20vh;
  box-shadow: 2vmin 0 1.0724341855516588vmin currentColor;
}
.background span:nth-child(27) {
  color: #5d00ff;
  top: 91%;
  left: 66%;
  animation-duration: 81s;
  animation-delay: -8s;
  transform-origin: -9vw -9vh;
  box-shadow: -2vmin 0 0.30434060689139186vmin currentColor;
}
.background span:nth-child(28) {
  color: #0008ff;
  top: 73%;
  left: 93%;
  animation-duration: 148s;
  animation-delay: -113s;
  transform-origin: -10vw -3vh;
  box-shadow: -2vmin 0 1.2247936553535042vmin currentColor;
}
.background span:nth-child(29) {
  color: #fbff00;
  top: 99%;
  left: 21%;
  animation-duration: 206s;
  animation-delay: -52s;
  transform-origin: 24vw -3vh;
  box-shadow: 2vmin 0 1.0109498921252384vmin currentColor;
}
.background span:nth-child(30) {
  color: #ff0000;
  top: 21%;
  left: 94%;
  animation-duration: 17s;
  animation-delay: -18s;
  transform-origin: 22vw 21vh;
  box-shadow: 2vmin 0 1.2285811884249218vmin currentColor;
}
.background span:nth-child(31) {
  color: #00ff2a;
  top: 25%;
  left: 31%;
  animation-duration: 146s;
  animation-delay: -155s;
  transform-origin: -9vw 20vh;
  box-shadow: -2vmin 0 0.4591858263876851vmin currentColor;
}
.background span:nth-child(32) {
  color: #fbff00;
  top: 33%;
  left: 69%;
  animation-duration: 125s;
  animation-delay: -77s;
  transform-origin: 2vw -19vh;
  box-shadow: 2vmin 0 0.5695916130689649vmin currentColor;
}
.background span:nth-child(33) {
  color: #ff0000;
  top: 40%;
  left: 85%;
  animation-duration: 180s;
  animation-delay: -204s;
  transform-origin: 16vw -10vh;
  box-shadow: 2vmin 0 0.7664320469478498vmin currentColor;
}
.background span:nth-child(34) {
  color: #ff004c;
  top: 1%;
  left: 71%;
  animation-duration: 153s;
  animation-delay: -164s;
  transform-origin: -24vw 16vh;
  box-shadow: 2vmin 0 0.5336056362041188vmin currentColor;
}
.background span:nth-child(35) {
  color: #00ff2a;
  top: 84%;
  left: 69%;
  animation-duration: 54s;
  animation-delay: -194s;
  transform-origin: 17vw 13vh;
  box-shadow: -2vmin 0 1.0104746595822656vmin currentColor;
}
.background span:nth-child(36) {
  color: #ff0000;
  top: 89%;
  left: 41%;
  animation-duration: 116s;
  animation-delay: -34s;
  transform-origin: 24vw 17vh;
  box-shadow: 2vmin 0 1.17804774690624vmin currentColor;
}
.background span:nth-child(37) {
  color: #fbff00;
  top: 45%;
  left: 79%;
  animation-duration: 27s;
  animation-delay: -168s;
  transform-origin: -12vw 8vh;
  box-shadow: -2vmin 0 0.668767638028432vmin currentColor;
}
.background span:nth-child(38) {
  color: #ff0000;
  top: 70%;
  left: 22%;
  animation-duration: 196s;
  animation-delay: -5s;
  transform-origin: -17vw 25vh;
  box-shadow: -2vmin 0 1.110787034135073vmin currentColor;
}
.background span:nth-child(39) {
  color: #5d00ff;
  top: 81%;
  left: 12%;
  animation-duration: 105s;
  animation-delay: -12s;
  transform-origin: 7vw -16vh;
  box-shadow: 2vmin 0 0.9934456397305571vmin currentColor;
}
.background span:nth-child(40) {
  color: #0008ff;
  top: 60%;
  left: 65%;
  animation-duration: 214s;
  animation-delay: -148s;
  transform-origin: -18vw 25vh;
  box-shadow: -2vmin 0 0.8897615055748729vmin currentColor;
}
.background span:nth-child(41) {
  color: #0008ff;
  top: 81%;
  left: 77%;
  animation-duration: 74s;
  animation-delay: -155s;
  transform-origin: 23vw 0vh;
  box-shadow: -2vmin 0 0.9310246885965401vmin currentColor;
}
.background span:nth-child(42) {
  color: #ff0000;
  top: 14%;
  left: 45%;
  animation-duration: 12s;
  animation-delay: -57s;
  transform-origin: -2vw -12vh;
  box-shadow: 2vmin 0 1.0829747447960898vmin currentColor;
}
.background span:nth-child(43) {
  color: #5d00ff;
  top: 71%;
  left: 10%;
  animation-duration: 16s;
  animation-delay: -54s;
  transform-origin: 13vw 9vh;
  box-shadow: 2vmin 0 0.6489466475503136vmin currentColor;
}
.background span:nth-child(44) {
  color: #ff004c;
  top: 50%;
  left: 49%;
  animation-duration: 133s;
  animation-delay: -110s;
  transform-origin: 17vw -23vh;
  box-shadow: 2vmin 0 0.4714716530947134vmin currentColor;
}
.background span:nth-child(45) {
  color: #0008ff;
  top: 83%;
  left: 92%;
  animation-duration: 87s;
  animation-delay: -26s;
  transform-origin: 10vw 15vh;
  box-shadow: -2vmin 0 1.0308410815466458vmin currentColor;
}
.background span:nth-child(46) {
  color: #0008ff;
  top: 45%;
  left: 33%;
  animation-duration: 71s;
  animation-delay: -89s;
  transform-origin: -20vw 12vh;
  box-shadow: -2vmin 0 0.7929659066163737vmin currentColor;
}
.background span:nth-child(47) {
  color: #ff004c;
  top: 51%;
  left: 49%;
  animation-duration: 213s;
  animation-delay: -61s;
  transform-origin: 25vw 9vh;
  box-shadow: 2vmin 0 0.8545212500640373vmin currentColor;
}
.background span:nth-child(48) {
  color: #0008ff;
  top: 15%;
  left: 41%;
  animation-duration: 140s;
  animation-delay: -14s;
  transform-origin: -10vw 14vh;
  box-shadow: -2vmin 0 0.6181406768262547vmin currentColor;
}
.background span:nth-child(49) {
  color: #5d00ff;
  top: 27%;
  left: 99%;
  animation-duration: 10s;
  animation-delay: -74s;
  transform-origin: 20vw -24vh;
  box-shadow: 2vmin 0 0.26199852114430455vmin currentColor;
}
#roundmsg{
  font-size: 280%;
  fill:#ffbb00;
  font-family: 'tuta';
}
#fly{
  width: 5%;
  height: 3%;
  background-image:url(fly2.png);
  background-repeat:no-repeat;
  background-size: contain;
  position: absolute;
  left:68.5%;
  top:50%;
  display: none;
}
#fly2{
  width: 5%;
  height: 3%;
  background-image:url(fly.png);
  background-repeat:no-repeat;
  background-size: contain;
  position: absolute;
  left:74.5%;
  top:45%;
  display: none;
}
#fly3{
  width: 5%;
  height: 3%;
  background-image:url(fly3.png);
  background-repeat:no-repeat;
  background-size: contain;
  position: absolute;
  left:70.5%;
  top:36%;
  display: none;
}
#newz{
background-color: #232629;
pointer-events: none;
position: absolute;
width: 56.38%;
height: 14.5%;
display: none;
margin-left: 20.6%;
margin-right: auto;
top:61.8%;
}
#exitb{
  background-color: #000000;
  font-size: 20px;
  position: absolute;
  width: 2.5%;
  height: 3.5%;
  top:15%;
  left:22%;
  border-radius: 15px;
  border: 0.5px solid #ffff00;
  color: rgb(255, 230, 0);
  text-decoration: double;
  text-align: center;
  padding:0.4%;
  padding-top: 0%;
  padding-bottom: 12px;
  cursor: pointer;
}
#game1{
  cursor: pointer;
}